# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Package of project
node_modules/
# Vscode workspace
.vscode/
# IDE files
.idea/
# Python cache
**/__pycache__
package-lock.json