<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="/app/staticotstrap.min.css" rel="stylesheet"/>
	<link href="/app/staticyle.css" rel="stylesheet"/>
	<title>基于Neo4j的电影知识图谱问答系统</title>
</head>
<body>
<div class="container-flux justify-content-center">
	<div class="wrapper container">
		<div class="row">
			<h1 style="color: white; text-align: center">
				基于Neo4j的电影知识图谱问答系统
			</h1>
		</div>
		<div id="chat"></div>
		<div class="row">
			<div class="col">
				<input
						type="text"
						id="info"
						placeholder="请输入问题"
						class="form-control"
				/>
			</div>
			<div class="col-auto">
				<button type="submit" id="send" class="btn btn-light">
					提问
				</button>
			</div>
			"
		</div>
		<div class="row align-content-center"></div>
	</div>
</div>
<script src="/app/staticery-3.1.1.min.js"></script>
<script src="/app/statictstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>